<h3>Activities</h3>

<!-- New Activity Form -->
<form name="newEvent" ng-submit="vm.addEvent(vm.newEvent)" ng-if="vm.childExists">
   <input name="comment" type="text" placeholder="comment" ng-model="vm.newEvent.comment" required>

    <select name="activity" ng-model="vm.newEvent.activity_id" ng-options="activity.id as activity.name for activity in vm.activities" required>
    </select>

    
 <!--    <span ng-show="newEvent.comment.$dirty && newEvent.comment.$invalid">The Comment is required.</span>
</p>
 -->


  <input type="submit" class="btn" value="Add">
</form>
</div>

<div class="input-group input-group-md">
          <span class="input-group-addon" id="sizing-addon1"><strong>Search</strong></span>
          <input ng-model="query" ng-change="searchFilter" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="">
</div>



<!-- <div ng-repeat="event in vm.events | orderBy: '-id' | filter: ActivityNameFilter"> -->

<!-- filter -->
 <span>Filter: <select name="activity" ng-model="activity_id" ng-options="activity.id as activity.name for activity in vm.activities"> 
  <option value="">All</option>
 </select></span>

<div ng-repeat="event in vm.events | ActivityNameFilter: activity_id | filter: query">
<pane class="list-group-item">


  <span class="close" ng-click="vm.deleteEvent(event)" ng-if="vm.childExists">×</span>
  <p>Child: {{event.child.name}}</p>
  <p>Activity: {{event.activity.name}}</p>
  <p>Time: {{event.event_time}}</p>
  <p>Mood: {{event.mood}}</p>
  <p ng-if="event.comment">Comments: {{event.comment}}</p>
</pane>
 
</div>


