  <h3>{{vm.name}}</h3>
    <h4>Age:{{vm.age}}</h4>Edit Profile <br>
    <span ng-if="vm.child.notes"><h4>Notes:</h4>{{vm.child.notes}}</span>

  


  <span ui-sref="home.child.events({id: vm.child.id})">
    <button class="btn">Activity Log</button> 
  </span>

  <span><button class="btn">Log New Activity</button></span>
  <p></p>

<!-- Form for new event -->
<div>
<form ng-controller="EventController as vm" ng-submit="vm.addEvent(vm.newEvent)">
   <input type="text" placeholder="comment" ng-model="vm.newEvent.comment">

    <select ng-model="vm.newEvent.activity_id" ng-options="activity.id as activity.name for activity in vm.activities">
    </select>

  <input type="submit" class="btn" value="Add">
</form>
</div>

<ui-view></ui-view>