  <h3>{{vm.name}}</h3>
    <h4>Age:{{vm.age}}</h4>
    <span ng-if="vm.child.notes"><h4>Notes:</h4>{{vm.child.notes}}</span>

  


  <span ui-sref="home.child.events({id: vm.child.id})">
    <button class="btn">Activity Log</button> 
  </span>

  <span><button class="btn">Log New Activity</button></span>

<form ng-controller="EventController as vm" ng-submit="vm.addEvent(vm.newEvent)">
    <input type="number" placeholder="name" ng-model="vm.activity_id">
    <input type="text" placeholder="comment" ng-model="vm.comment">
    <input type="submit" class="btn" value="Add Event"> 
</form>

<ui-view></ui-view>