  <h3 ng-hide="vm.isEnabled()">{{vm.name}}  <span ng-click="vm.enableEditor()" class="glyphicon glyphicon-pencil"></span></h3>

  <div ng-show="vm.isEnabled()">
    <form ng-submit="vm.save()">
      <input ng-model="vm.child.first_name" required>
      <input ng-model="vm.child.last_name" required>
      <input type="submit">
    </form>
    <button ng-click="vm.disableEditor()">cancel</button>

  </div>
    <h4>Age:{{vm.age}}</h4>
    <span ng-if="vm.child.notes"><h4>Notes:</h4>{{vm.child.notes}}</span><br>




  <!-- Edit -->


<!--  Show Activity Log -->
  <span ui-sref="home.child.events({id: vm.child.id})">
    <button class="btn">Activity Log</button>
  </span>

  <!--<span><button class="btn">Log New Activity</button></span>-->
  <p></p>





<ui-view></ui-view>
